<h4 class="mb-4">All Users</h4>
<form class="row">
    <div class="form-group col-md-5 col-sm-9 col-lg-4">
        <div class="input-group">
            <input class="form-control form-control" type="text"
                   name="username" placeholder="Search by username" required>
            <span class="input-group-append">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
        </div>
    </div>
</form>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="user : ${page}" th:object="${user}">
        <td th:text="*{id}">Id</td>
        <td th:text="*{username}">Username</td>
        <td th:text="*{email}">Email</td>
        <td>
            <a th:href="@{/admin/users/edit/{id} (id=*{username})}" class="edit mr-2">Edit</a>
            <a th:href="@{/admin/users/delete/{id} (id=*{username})}" class="delete mr-2">Delete</a>
            <a th:href="@{/users/profile/{username} (username=*{username})}" class="show">Show</a>
        </td>
    </tr>
</table>
<th:block th:with="pageBaseUrl='/admin/users/all'">
    <div th:replace="~{fragments/pagination}"></div>
</th:block>