<!--/*@thymesVar id="registerUser" type="com.tu.musichub.user.models.bindingModels.ForgotPassword"*/-->
<div class="text-danger h5" th:if="${error} != null" th:text="${error}">
    No registration was found with this email address.
</div>
<div th:replace="~{fragments/info-message}"></div>
<form th:object="${forgotPassword}" th:method="post">
    <fieldset>
        <legend>Forgot Password</legend>
        <p>We will be sending a reset password link to your email.</p>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control col-md-5"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" required>
            <div class="invalid-feedback"
                 th:each="error : ${#fields.errors('email')}" th:text="${error}">
                Please provide an email address
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </fieldset>
</form>