<!--/*@thymesVar id="resetPassword" type="com.tu.musichub.user.models.bindingModels.ResetPassword"*/-->
<form th:object="${resetPassword}" th:method="post">
    <fieldset>
        <legend>Reset Your Password</legend>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control col-md-5"
                   th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" required>
            <div class="invalid-feedback"
                 th:each="error : ${#fields.errors('password')}" th:text="${error}">
                Please provide a password
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control col-md-5"
                   th:field="*{confirmPassword}"
                   th:classappend="${#fields.hasErrors('confirmPassword') or #fields.hasGlobalErrors()} ? 'is-invalid'"
                   required>
            <div class="invalid-feedback"
                 th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">
                Please provide a confirm password
            </div>
            <div class="invalid-feedback"
                 th:each="error : ${#fields.globalErrors()}" th:text="${error}">
                Please provide a confirm password
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </fieldset>
</form>