<div>
    <ul class="pagination justify-content-center" th:if="${!#lists.isEmpty(page.getContent())
                and page.getTotalPages() > 1}"
        th:with="hasPrevious=${page.hasPrevious()}, hasNext=${page.hasNext()},
        previousPageable=${page.previousPageable()}, nextPageable=${page.nextPageable()}">
        <!--<li class="page-item" th:classappend="${!hasPrevious} ? 'disabled'">-->
        <!--<a class="page-link"-->
        <!--th:href="${hasPrevious} ? @{${pageBaseUrl}(page=${previousPageable.getPageNumber()})}">&laquo;</a>-->
        <!--</li>-->
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, page.getTotalPages())}"
            th:with="index=${pageNum} - 1"
            th:classappend="${page.getNumber() == index} ? 'active'">
            <a class="page-link" th:href="@{${pageBaseUrl}(page=${index})}"
               th:text="${pageNum}"></a>
        </li>
        <!--<li class="page-item" th:classappend="${!hasNext} ? 'disabled'">-->
        <!--<a class="page-link"-->
        <!--th:href="${hasNext} ? @{${pageBaseUrl}(page=${nextPageable.getPageNumber()})}">&raquo;</a>-->
        <!--</li>-->
    </ul>
</div>