.edit, .delete, .details {
    text-decoration: none;
}

.edit {
    color: orange;
}

.delete {
    color: red;
}

.show {
    color: deepskyblue;
}

.edit:hover {
    color: orange;
    text-decoration: underline;
}

.delete:hover {
    color: red;
    text-decoration: underline;
}

.details:hover {
    color: deepskyblue;
    text-decoration: underline;
}
