<h4 class="mb-4">
    All Categories - <a th:href="@{/admin/categories/add}" class="btn btn-primary">Create New</a>
</h4>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="category : ${categories}"
        th:object="${category}">
        <td th:text="*{name}"></td>
        <td>
            <a th:href="@{/admin/categories/{id}/edit (id=*{id})}" class="edit mr-2">Edit</a>
            <a th:href="@{/admin/categories/{id}/delete (id=*{id})}" class="delete">Delete</a>
        </td>
    </tr>
</table>