<div th:replace="~{fragments/info-message}"></div>
<h4 class="mb-4">
    All Categories - <a th:href="@{/admin/categories/add}" class="btn btn-primary">Create New</a>
</h4>
<div class="text-center justify-content-center"
     th:if="${#lists.isEmpty(page.getContent())}">
    <h3>No categories available</h3>
</div>
<table class="table table-hover table-bordered" th:if="${!#lists.isEmpty(page.getContent())}">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="category, iter : ${page}"
        th:object="${category}">
        <td th:text="${iter.index + 1}"></td>
        <td th:text="*{name}"></td>
        <td>
            <a th:href="@{/admin/categories/{id}/edit (id=*{id})}" class="edit mr-2">Edit</a>
            <a th:href="@{/admin/categories/{id}/delete (id=*{id})}" class="delete">Delete</a>
        </td>
    </tr>
</table>
<th:block th:with="pageBaseUrl='/admin/categories/all'">
    <div th:replace="~{fragments/pagination}"></div>
</th:block>