<html xmlns:th="http://www.thymeleaf.org">
<h4 class="mb-4">
    All Categories - <a th:href="@{/admin/categories/add}" class="btn btn-primary">Create New</a>
</h4>
<div class="text-center justify-content-center"
     th:if="${#lists.isEmpty(categories.getContent())}">
    <h3>No categories available</h3>
</div>
<table class="table table-hover table-bordered" th:if="${!#lists.isEmpty(categories.getContent())}">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="category : ${categories}"
        th:object="${category}">
        <td th:text="*{name}"></td>
        <td>
            <a th:href="@{/admin/categories/{id}/edit (id=*{id})}" class="edit mr-2">Edit</a>
            <a th:href="@{/admin/categories/{id}/delete (id=*{id})}" class="delete">Delete</a>
        </td>
    </tr>
</table>
<ul class="pagination justify-content-center" th:if="${!#lists.isEmpty(categories.getContent())
        and categories.getTotalPages() > 1}"
    th:with="hasPrevious=${categories.hasPrevious()}, hasNext=${categories.hasNext()},
        previousPageable=${categories.previousPageable()}, nextPageable=${categories.nextPageable()}">
    <li class="page-item" th:each="page : ${#numbers.sequence(1, categories.getTotalPages())}"
        th:with="index=${page} - 1"
        th:classappend="${categories.getNumber() == index} ? 'active'">
        <a class="page-link" th:href="@{/admin/categories/all(page=${index})}"
           th:text="${page}"></a>
    </li>
</ul>