<div th:replace="~{fragments/info-message}"></div>
<form th:object="${editCategory}" th:method="post">
    <fieldset>
        <legend>Edit Category</legend>
        <div class="form-group">
            <label for="name">Category</label>
            <input type="text" class="form-control col-md-5"
                   th:field="*{name}"
                   th:classAppend="${#fields.hasErrors('name')} ? 'is-invalid'" required>
            <div class="invalid-feedback" th:each="error : ${#fields.errors('name')}"
                 th:text="${error}">
                Please provide a name
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Edit</button>
        </div>
    </fieldset>
</form>