<!--/*@thymesVar id="songDetails" type="com.softuni.musichub.song.model.viewModel.SongDetailsView"*/-->
<div class="row" th:object="${songDetails}">
    <div class="col-md-6 text-center">
        <h4 th:text="*{title}">Title</h4>
        <h6>Added on <span th:text="*{#dates.format(uploadedOn, 'dd/MM/yyyy')}"></span>
            by <span class="badge badge-primary" th:text="*{uploaderUsername}">Uploader</span></h6>
        <div class="form-group">
            <th:block th:if="${#authentication.name} eq *{uploaderUsername} or
                    ${#authorization.expr('hasRole(''ADMIN'')')}">
                <a th:href="@{/songs/edit/{songId} (songId=*{id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/songs/delete/{songId} (songId=*{id})}" class="btn btn-danger">Delete</a>
            </th:block>
            <a href="#" class="btn btn-primary"
               sec:authorize="isAuthenticated()" th:href="*{downloadUrl}">Download</a>
        </div>
        <div class="form-group">
            <div class="form-group">
                <audio th:src="*{streamingUrl}" preload="auto"></audio>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <h4>Category</h4>
        <a th:href="@{/songs/browse(categoryName=*{categoryName})}"
           class="btn btn-secondary mb-2 mr-2 list-group-flush"
           th:text="|&#35;*{categoryName}|">Category</a>
    </div>
    <div class="col-md-3 text-center">
        <h4>Tags</h4>
        <h5 class="text-danger" th:if="${#sets.isEmpty(songDetails.tags)}">No tags</h5>
        <a th:each="tag : *{tags}" th:text="|&#35;${tag.name}|"
           th:href="@{/songs/browse(tagName=${tag.name})}"
           class="btn btn-secondary mb-2 mr-2 list-group-flush">Name</a>
    </div>
</div>
<form method="post" sec:authorize="isAuthenticated()" class="mt-5">
    <div class="row justify-content-center" id="commentRow">
        <textarea name="comment" id="comment" class="form-control col-md-5"
                  placeholder="Enter your comment" rows="5" minlength="10"></textarea>
        <input type="hidden" id="songId" th:value="*{id}">
    </div>
    <div class="row justify-content-center mt-2">
        <button class="btn btn-primary" id="addComment" type="submit">Add Comment</button>
    </div>
    <div class="form-group">
        <input type="hidden" th:name="${_csrf.parameterName}" id="_csrf"
               th:value="${_csrf.token}">
    </div>
</form>
<div id="allComments">
    <div class="row justify-content-center mt-4"
         th:each="comment : ${songDetails.comments}"
         th:if="${comment.status == 'APPROVED'} or ${comment.authorUsername == #authentication.name}">
        <div class="list-group col-md-6">
            <a href="" class="list-group-item list-group-item-action flex-column active"
               style="background-color: #282828">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"><strong th:text="${comment.authorUsername}">Username</strong></p>
                    <small>Waiting for review</small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <small th:text="${#dates.format(comment.publishedOn, 'dd/MM/yyyy')}">Publish date</small>
                </div>
                <p class="mb-1" style="word-break: break-all" th:text="${comment.content}">Content</p>
            </a>
        </div>
    </div>
</div>
<script th:src="@{/audiojs/audio.min.js}"></script>
<script async="async" th:src="@{/scripts/audiojs.js}"></script>