<div class="row justify-content-center" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h5>Edit Music</h5>
            </div>
            <div class="card-body" th:object="${editSong}">
                <form th:method="post">
                    <div class="form-group">
                        <label for="title">Song Title</label>
                        <input type="text" class="form-control" th:field="*{title}"
                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" required>
                        <div class="invalid-feedback"
                             th:each="error : ${#fields.errors('title')}" th:text="${error}">
                            Please provide a title
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select class="form-control" th:field="*{categoryId}"
                                th:classappend="${#fields.hasErrors('categoryId')} ? 'is-invalid'" required>
                            <option th:each="category : ${categories}"
                                    th:text="${category.name}" th:value="${category.id}">Category
                            </option>
                        </select>
                        <div class="invalid-feedback"
                             th:each="error : ${#fields.errors('categoryId')}" th:text="${error}">
                            Please provide a category
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tagNames">Tags</label>
                        <input type="text" class="form-control" th:field="*{tagNames}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>