<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/bootstrap-4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/theme/cyborg/cyborg.min.css">
    <link rel="stylesheet" href="../../static/css/browse-music.css">
    <link rel="shortcut icon" type="image/png" href="../../static/images/music-hub-favicon.png"/>
    <title>MusicHub</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../home/index.html">
            <img src="../../static/images/music-hub-favicon.png" alt="logo"> MusicHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-music"></i> Browse
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-chart-line"></i>
                        Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-info"></i>
                        About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../user/login.html">
                        <i class="fas fa-user"></i> Login
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../user/register.html">
                        <i class="fas fa-user-plus"></i>
                        Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container mt-3">
        <form class="form-inline justify-content-center">
            <div class="input-group col-md-7 col-sm-12">
                <input class="form-control form-control-lg" type="text"
                       name="songName" placeholder="Search for a track">
                <span class="input-group-append">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <span class="h5"> or </span>
                <a href="#" class="btn btn-primary btn-lg ml-3">Upload your own</a>
            </div>
        </form>
        <div class="text-center mt-2">
            <h4>All Tracks</h4>
        </div>
        <div class="row justify-content-center mt-3 text-center">
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Alone</a>
                        </h6>
                        <a class="author" href="#">Thunder</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Alone</a>
                        </h6>
                        <a class="author" href="#">Test</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Alone</a>
                        </h6>
                        <a class="author" href="#">Krisko</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Alone</a>
                        </h6>
                        <a class="author" href="#">Ann-Marie</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Strongest</a>
                        </h6>
                        <a class="author" href="#">Thunder</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Alan Walker - Alone</a>
                        </h6>
                        <a class="author" href="#">Thunder</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img src="../../../src/main/resources/static/images/music.png"
                         alt="cover" class="img-fluid">
                    <figcaption class="mt-2">
                        <h6>
                            <a class="title" href="#">Era Istrefi - Bonbon</a>
                        </h6>
                        <a class="author" href="#">Thunder</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<script src="../../static/jquery/jquery-3.3.1.min.js"></script>
<script src="../../static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
<script src="../../static/font-awesome/fontawesome-all.min.js"></script>
</body>
</html>