<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/bootstrap-4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/theme/cyborg/cyborg.min.css">
    <link rel="shortcut icon" type="image/png" href="../../static/images/music-hub-favicon.png"/>
    <title>MusicHub</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="../../static/images/music-hub-favicon.png" alt="logo"> MusicHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../music/browse.html">
                        <i class="fas fa-music"></i> Browse
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-chart-line"></i>
                        Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">
                        <i class="fas fa-info"></i>
                        About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../user/login.html">
                        <i class="fas fa-user"></i> Login
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../user/register.html">
                        <i class="fas fa-user-plus"></i>
                        Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container mt-3">
        <div class="text-center">
            <img src="../../static/images/music-hub.png" alt="icon">
            <h5>
                &copy; MusicHub 2018
            </h5>
            <h5>
                Created By Luko Delidzhov
            </h5>
            <h6>
                MusicHub is site for sharing of music.
                This site is created for SoftUni's Java MVC Frameworks - Spring course
            </h6>
        </div>
    </div>
</main>
<script src="../../static/jquery/jquery-3.3.1.min.js"></script>
<script src="../../static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
<script src="../../static/font-awesome/fontawesome-all.min.js"></script>
</body>
</html>